networks:
  traefik-public:
    external: true

services:
  app:
    build:
      context: .
      dockerfile: ./docker/image/prod/Dockerfile
    restart: always
    volumes:
      - "./storage/:/app/storage/"
    networks:
      - traefik-public
      - default
    env_file:
      - .env
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.contaflux.entrypoints=websecure"
      - "traefik.http.routers.contaflux.tls.certresolver=leresolver-dns"
      - "traefik.http.services.contaflux.loadbalancer.server.port=80"
    extra_hosts:
      - "host.docker.internal:host-gateway"
