networks:
  devenv-web:
    external: true

services:
  app:
    build:
      context: .
      dockerfile: ./docker/image/dev/Dockerfile
    environment:
      DB_HOST: host.docker.internal
      DB_PORT: 3306
    restart: on-failure
    networks:
      - devenv-web
      - default
    volumes:
      - ".:/app/"
      - "../composer/:/composer/"
    labels:
      - 'traefik.enable=true'

      - 'traefik.http.routers.contaflux.rule=Host(`contaflux.test`)'
      - 'traefik.http.services.contaflux.loadbalancer.server.port=80'
    # extra_hosts:
      # - "example.sites.local:host-gateway"
